@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-secondary: var(--background-secondary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-background-tertiary: var(--background-tertiary);
  --color-foreground-tertiary: var(--foreground-tertiary);
  --color-button-background: var(--button-background);
  --color-button-hover: var(--button-hover);
  --color-button-text: var(--button-text);
  --color-link: var(--link-color);
  --color-link-clicked: var(--link-clicked-color);
  --color-hover: var(--hover);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);
  --color-accent: var(--accent);
  --color-accent-secondary: var(--accent-secondary);
  --color-accent-tertiary: var(--accent-tertiary);
  --color-accent-quaternary: var(--accent-quaternary);
  --color-focus-ring: var(--focus-ring);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  background-color: var(--button-background);
  color: var(--button-text);

  &:hover {
    background-color: var(--button-hover);
  }
}

a, Link {
  color: var(--link-color);

  &:visited {
    color: var(--link-clicked-color);
  }
}